.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 130px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  filter: drop-shadow(0px 6px 45px #f36607);
}

.swiper-slide {
  width: 50px;
  text-align: center;
  background: #000000;
  aspect-ratio: 270/406;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide a {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.7;
  transition: 250ms;
  color: #f36607;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: #f36607;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.properties_inne {
  position: absolute;
  top: 0;
  right: 4%;
  width: 25px;
  height: auto;
  cursor: pointer;
}
.properties_inne img {
  width: 100% !important;
}

.categories {
  padding: 20px;
}
.categories .swiper .swiper-button-prev {
  top: 95% !important;
  right: 155px !important;
  left: inherit;
}
.categories .swiper .swiper-button-next {
  top: 95% !important;
  right: 0 !important;
  left: inherit;
}
.categories .swiper-wrapper {
  padding: 0px 0px 25px 0;
}
.categories h2 {
  color: white;
  border-radius: 8px;
  border-top: 1px solid #f36607;
  padding: 9px;
}
.categories .swiper-slide {
  position: relative;
  transition: 250ms;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  transform: scale(0.98);
}
.categories .swiper-slide > img {
  display: inline-block;
  width: 45px;
  height: 45px;
  transition: 250ms;
  cursor: pointer;
}
.categories .swiper-slide:hover {
  z-index: 5;
  box-shadow: 0 0 5px 2px #f36607;
}
.categories .slide-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: all 0.5s;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
.categories .slide-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories .slide-item .properties_inne {
  width: 25px;
}
.categories .slide-item .slide-info {
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  top: 101%;
  padding: 2px;
}
.categories .slide-item .slide-info h3 {
  margin: 0;
  color: white;
}
.categories .slide-item .slide-info p {
  margin: 5px 0 0 0;
}

@media screen and (max-width: 450px) {
  .swiper {
    padding-bottom: 90px;
  }
  .categories .swiper .swiper-button-prev {
    top: 92% !important;
    transform: scale(0.7);
    right: 15% !important;
  }
  .categories .swiper .swiper-button-next {
    top: 92% !important;
    transform: scale(0.7);
  }
}